body {
            font-family: 'Nunito Sans', sans-serif;
            background-color: #121212;
            color: #fff;
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            justify-content: center;
            align-items: center;
        }
	    .header-section .logo img {
		width: 200px; /* Adjust width as needed */
		height: auto; /* Maintains the aspect ratio */
		}

        .form-container {
            background-color: #1f1f1f;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            width: 100%;
            max-width: 400px;
            text-align: center;
        }

        .form-container h1 {
            margin-bottom: 20px;
            font-weight: 700;
            color: #fff;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: left;
        }

        .form-group label {
            font-weight: 600;
            font-size: 14px;
            color: #ccc;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #333;
            margin-top: 5px;
            font-size: 14px;
            color: #fff;
            background-color: #333;
        }

        .form-group input::placeholder {
            color: #888;
        }

        .form-group input[type="date"] {
            color: #fff;
        }

        .form-group input[type="number"] {
            color: #fff;
            background-color: #333;
        }

        .site-btn {
            background-color: #e50914;
            color: #fff;
            padding: 12px;
            border: none;
            border-radius: 5px;
            font-weight: 700;
            cursor: pointer;
            width: 100%;
            margin-top: 20px;
        }

        .site-btn:hover {
            background-color: #f01f1f;
        }

        .footer-section {
            text-align: center;
            padding: 10px;
            background: #1d1d1d;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .footer-section p {
            color: #888;
            font-size: 14px;
            margin: 0;
        }